@font-face {
  font-family: 'TheSeasons';
  src: url(./fonts/TheSeasons/Demo_Fonts/Fontspring-DEMO-theseasons-bd.otf);
}
@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}


:root {
  --blue: #43b1ca;
  --white: #ffffff;
  --text-black: #39382e;
  --text-darker-black: #39382e;
  --light-gray: #dedfe0;

  --poppins: 'Poppins';
  --theseasons: 'TheSeasons';
}

body, p, h1, h2, h3, h4, h5{
  padding: 0;
  margin: 0;
}





